#body {
    width: 100vw;
    font-family: "Calisto MT", Verdana, sans-serif;
    color: #FFFFFF;
}

td {
  font-size: 1.5vmin;
}
th, td {
    padding: 8px;
    border: 1px solid black;
    text-align: left;
}

th {
    background-color: #884444;
    color: white;
}
table {
    border-collapse: collapse;
    height: 100%;
    width: 100%;
    font-family: Verdana, Geneva, sans-serif
}

a:hover {
    text-decoration: underline;
}

a {
  color:inherit;
  text-decoration: none;
}

a.decorated {
  color:inherit;
  text-decoration: underline;
}

a.menu {
  color:inherit;
}

